info:
  version: 3.0.0
  title: API de dados agregados do IBGE
  description: "Incremente sua aplicação com a API de dados agregados do IBGE, a API\
    \ que\nalimenta o [SIDRA](https://sidra.ibge.gov.br), Sistema IBGE de Recuperação\n\
    Automática, ferramenta que disponibiliza os dados das pesquisas e censos\nrealizados\
    \ pelo IBGE.  \n  \nA fim de aprofundar o conhecimento desta API, recomendamos\
    \ que você explore as\ntabelas do SIDRA [1705](https://sidra.ibge.gov.br/tabela/1705)\
    \ e\n[1712](https://sidra.ibge.gov.br/tabela/1712), que são usadas como exemplos\
    \ na\ndocumentação desta API. **Cada tabela do SIDRA corresponde a um agregado\
    \ desta\nAPI**.  \n  \n  \n**obs 1**: para desenvolvedores de soluções OLAP, Online\
    \ Analytical Processing,\nos conceitos de variáveis, classificações e categorias\
    \ são, respectivamente,\nidênticos aos de medidas, dimensões e membros.  \n**obs\
    \ 2**: a presente versão permite 3 modos de visualização das\n[variáveis](#api-Variaveis).\
    \ Para mais informações, consulte o parâmetro *view*"
externalDocs:
  description: Documentação oficial
  url: https://servicodados.ibge.gov.br/api/docs/agregados?versao=3
swagger: '2.0'
host: servicodados.ibge.gov.br
basePath: /api/v3/agregados
schemes:
- https
produces:
- application/json
tags:
- name: Agregados
- name: Localidades
- name: Metadados
- name: Periodos
- name: Variaveis
paths:
  /:
    get:
      tags:
      - Agregados
      summary: Agregados
      description: Obtém o conjunto de agregados, agrupados pelas respectivas pesquisas
      operationId: agregadosGet
      parameters: []
      responses:
        '200':
          description: Array de agregados agrupados por pesquisa
          schema:
            type: array
            items:
              $ref: '#/definitions/Pesquisa'
  /{agregado}/localidades/{nivel}:
    get:
      tags:
      - Localidades
      summary: Localidades por agregado
      description: Obtém as localidades associadas ao agregado de acordo com o nível
        geográfico
      operationId: agregadosAgregadoLocalidadesNivelGet
      parameters:
      - name: agregado
        in: path
        description: Identificador do agregado
        required: true
        type: number
        format: int64
      - name: nivel
        in: path
        description: "Identificador do nível geográfico ao qual pertence as localidades.\
          \ \n\n<a href='https://servicodados.ibge.gov.br/api/v3/agregados/1705/localidades/N7'>https://servicodados.ibge.gov.br/api/v3/agregados/1705/localidades/N7</a>\n\
          \n    Obtém as localidades, cujo nível geográfico seja região metropolitana\
          \ (**N7** ou **7**, pois o prefixo **N** pode ser omitido), referentes ao\
          \ agregado 1705. \n\n**obs:** os identificadores dos níveis geográficos\
          \ abrangidos pelo agregado podem ser consultados através dos respectivos\
          \ <a href='#api-Metadados-agregadosAgregadoMetadadosGet'>metadados</a>,\
          \ consultando a propriedade **nivelTerritorial**"
        required: true
        type: string
      responses:
        '200':
          description: Array de localidades
          schema:
            type: array
            items:
              $ref: '#/definitions/inline_response_200'
  /{agregado}/metadados:
    get:
      tags:
      - Metadados
      summary: Metadados
      description: Obtém os metadados associados ao agregado
      operationId: agregadosAgregadoMetadadosGet
      parameters:
      - name: agregado
        in: path
        description: Identificador do agregado
        required: true
        type: number
        format: int64
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      responses:
        '200':
          description: Objeto metadado
          schema:
            type: array
            items:
              $ref: '#/definitions/Metadado'
  /{agregado}/periodos:
    get:
      tags:
      - Periodos
      summary: Períodos por agregado
      description: Obtém os períodos associados ao agregado
      operationId: agregadosAgregadoPeriodosGet
      parameters:
      - name: agregado
        in: path
        description: Identificador do agregado
        required: true
        type: number
        format: int64
        x-codegen-hasMoreRequired: false
        x-codegen-hasMoreOptional: true
      responses:
        '200':
          description: Array de períodos
          schema:
            type: array
            items:
              $ref: '#/definitions/inline_response_200_1'
  /{agregado}/periodos/{periodos}/variaveis/{variavel}:
    get:
      tags:
      - Variaveis
      summary: Variáveis por agregado, períodos pesquisados e identificador da variável
      description: Obtém o conjunto de variáveis a partir do identificador do agregado,
        períodos pesquisados e identificador das variáveis
      operationId: agregadosAgregadoPeriodosPeriodosVariaveisVariavelGet
      parameters:
      - name: agregado
        in: path
        description: Identificador do agregado
        required: true
        type: number
        format: int64
        x-codegen-hasMoreRequired: false
        x-codegen-hasMoreOptional: true
      - name: periodos
        in: path
        description: 'Período do qual se deseja obter os resultados. Informe valores
          negativos para obter os últimos resultados. Para um mês específico, informe-o
          segundo o padrão **YYYYMM**, no qual **YYYY** refere-se ao ano e **MM**
          ao mês. Pode conter um ou mais períodos delimitados pelo caracter **|**
          (pipe)


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1705/periodos/-6/variaveis?localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1705/periodos/-6/variaveis?localidades=BR</a>


              Obtém os resultados nos últimos seis períodos pesquisados (**-6**) referentes
          às variáveis do agregado 1705 no Brasil (**BR**). **obs**: valores negativos
          não podem ser usados conjuntamente com outros períodos


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1705/periodos/201701-201706/variaveis?localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1705/periodos/201701-201706/variaveis?localidades=BR</a>


              Obtém os resultados no primeiro semestre de 2017 (**201701-201706**)
          referentes às variáveis do agregado 1705 no Brasil (**BR**). Observe que
          é possível informar um intervalo segundo o padrão **&lt;INICIO>-&lt;FIM>**


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1705/periodos/201706/201708|201710/variaveis?localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1705/periodos/201701-201706|201710/variaveis?localidades=BR</a>


              Obtém os resultados no primeiro semestre (**201701-201706**) e no mês
          de outubro (**201710**) de 2017 referentes às variáveis do agregado 1705
          no Brasil (**BR**)


          '
        required: true
        type: string
      - name: variavel
        in: path
        description: 'Um ou mais identificadores de variável separados pelo caracter
          **|** (pipe). Caso omitido, assume o valor **allxp**, que retorna quaisquer
          variáveis relacionada ao agregado. Para saber mais sobre as variáveis de
          cada agregado, acesse seus respectivos <a href=''#api-Metadados-agregadosAgregadoMetadadosGet''>metadados</a>


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis/214|1982?localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis/214|1982?localidades=BR</a>


              Obtém os resultados referentes às variáveis quantidade produzida (**214**)
          e a quantidade vendida (**1982**) do agregado 1712 no Brasil (**BR**)


          É possível informar o valor **all**, que retorna, além das variáveis padrão,
          variáveis percentuais geradas automaticamente pela API, quando aplicável
          ao agregado


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis/214|1982?localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis/all?localidades=BR</a>


              Obtém os resultados referentes às variáveis do agregado 1712, incluindo
          variáveis percentuais geradas pela API, no Brasil (**BR**)'
        required: true
        type: string
      - name: localidades
        in: query
        description: 'Uma ou mais localidades delimitadas pelo caracter | (pipe).
          No caso do Brasil, o identificador é **BR**. Para qualquer localidade que
          NÃO seja Macrorregião, Unidade da Federação, Mesorregião, Microrregião e
          Município, essa deve seguir o padrão  **N&lt;NIVEL_GEOGRAFICO>[&lt;LOCALIDADE>]**
          - Para saber mais sobre os identificadores das localidades, acesse <a target=''_blank''
          href=''https://sidra.ibge.gov.br/territorio''>https://sidra.ibge.gov.br/territorio</a>
          - em que **&lt;LOCALIDADE>** pode ser uma ou mais localidades separadas
          por vírgula. É possível ainda generalizar o resultado, informando a classe
          da localidade, conforme os exemplos a seguir


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7''>https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7</a>


              Obtém os resultados referentes às variáveis do agregado 1705 cujas localidades
          sejam regiões metropolitanas (**N7**)


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7[3501,3301]''>https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7[3501,3301]</a>


              Obtém os resultados referentes às variáveis do agregado 1705 cujas localidades
          sejam as regiões metropolitanas (**N7**) de São Paulo e Rio de Janeiro (**3501,3301**).
          Observe que 3501 e 3301 são, respectivamente, os identificadores das regiões
          metropolitanas de São Paulo e Rio de Janeiro. Não podem ser confundidos,
          portanto, com os identificadores dos municípios de São Paulo/SP e Rio de
          Janeiro/RJ, que são 3550308 e 3304557, respectivamente


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7[3501,3301]|5208707''>https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7[3501,3301]|5208707</a>


              Obtém os resultados referentes às variáveis do agregado 1705 cujas localidades
          sejam as regiões metropolitanas (**N7**) de São Paulo e Rio de Janeiro (**3501,3301**)
          e o município de Goiânia/GO (**5208707**) - Por ser um município, não há
          a necessidade de informar o nível geográfico ao qual pertence, de forma
          que essa URL é equivalente à


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7[3501,3301]|N6[5208707]''>https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7[3501,3301]|N6[5208707]</a>'
        required: true
        type: string
      - name: classificacao
        in: query
        description: 'Além de estar relacionado à uma dada localidade e um determinado
          período, os resultados das variáveis podem estar relacionados à outros conjuntos
          de dados, que na nomenclatura do SIDRA recebe o nome de **classificação**.
          Como exemplo, considere o agregado <a target=''_blank'' href=''https://sidra.ibge.gov.br/tabela/1712''>Produção,
          venda, valor da produção e área colhida da lavoura temporária nos estabelecimentos
          agropecuários</a>. Além da localidade e do período, os resultados produzidos
          por esse agregado referem-se aos produtos produzidos, condição do produtor,
          grupos de atividades econômica, grupos de área, grupos de área colhida e
          pronafiano, que são as classificações do agregado - Para conhecer as classificações
          de cada agregado, acesse seus respectivos <a href=''#api-Metadados-agregadosAgregadoMetadadosGet''>metadados</a>.
          Aos componentes da classificação, dar-se o nome de **categoria**. Na prática,
          você fará uso das classificações para restringir a consulta, conforme os
          exemplos a seguir


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classificacao=226[4844]&localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classificacao=226[4844]&localidades=BR</a>


              Obtém os resultados referentes às variáveis do agregado 1712 cujo produto
          produzido (**226**) seja abacaxi (**4844**) no Brasil (**BR**)


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classificacao=226[4844]|218[4780]&localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classificacao=226[4844]|218[4780]&localidades=BR</a>


              Obtém os resultados referentes às variáveis do agregado 1712 cujo produto
          produzido (**226**) seja abacaxi (**4844**) e cuja condição do produtor
          (**218**) seja proprietário (**4780**) no Brasil (**BR**)


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classificacao=226[4844,96608,96609]|218[4780]&localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classificacao=226[4844,96608,96609]|218[4780]&localidades=BR</a>


              Obtém os resultados referentes às variáveis do agregado 1712 cujos produtos
          produzidos (**226**) sejam abacaxi, alho e batata-inglesa (**4844,96608,96609**)
          e cuja condição do produtor (**218**) seja proprietário (**4780**) no Brasil
          (**BR**)


          Conforme observado acima, você deve informar a classificação segundo o padrão
          **&lt;CLASSIFICACAO>[&lt;CATEGORIA>]**, em que **&lt;CATEGORIA>** pode ser
          uma ou mais categorias separadas por vírgula. Caso deseje informar mais
          de uma classificação, separe-as usando o caracter **|** (pipe). Se desejar
          obter as categorias de uma classificação, sem distinção, informe a palavra-chave
          **all**.


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?&classifcacao=226[all]&localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classifcacao=226[all]&localidades=BR</a>


              Todos os resultados dos produtos produzidos (**226[all]**), referentes
          às variáveis do agregado 1712 no Brasil (**BR**) serão retornados


          <hr />Por padrão, **caso omitido**, serão recuperados apenas os resultados
          referentes à categoria **Total**, que é uma categoria especial cujo identificador
          é **0**. Essa categoria é retornada **sempre que não desejar restringir
          a classificação** a uma categoria específica.


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?localidades=BR</a>


          Na URL acima, como não foi especificado nenhuma classificação, a resposta
          retornada será o número de estabelecimentos agropecuários, quantidade produzida,
          quantidade vendida, valor da produção e área colhida no Brasil (**BR**)




          **obs**: é possível, embora raro, que alguns agregados não possuam relação
          com nenhuma classificação, além de localidade e período. É o caso, por exemplo,
          do agregado <a target=''_blank'' href=''https://sidra.ibge.gov.br/tabela/118''>118</a>'
        required: false
        type: string
      - name: view
        in: query
        description: Modo de visualização. Caso deseje que a resposta seja renderizada
          usando notação OLAP, configure esse parâmetro com o valor **OLAP** - <a
          href='https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?view=OLAP&localidades=BR'>https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?view=OLAP&localidades=BR</a>.
          A outra opção é configurar esse parâmetro com o valor **flat**. No modo
          flat, o primeiro elemento do Array são metadados, de forma que os resultados
          vêm a partir do segundo elemento
        required: false
        type: string
      responses:
        '200':
          description: Array de variáveis - Na resposta, virá ainda os resultados
            referentes à cada classificação
          schema:
            type: array
            items:
              $ref: '#/definitions/Indicador'
  /{agregado}/variaveis/{variavel}:
    get:
      tags:
      - Variaveis
      summary: Variáveis por agregado e identificador da variável
      description: Funcionalmente equivalente à /agregados/{agregado}/periodos/-6/variaveis/{variavel},
        na qual se obtém os resultados das variáveis nos últimos seis períodos pesquisados
      operationId: agregadosAgregadoVariaveisVariavelGet
      parameters:
      - name: agregado
        in: path
        description: Identificador do agregado
        required: true
        type: number
        format: int64
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: variavel
        in: path
        description: 'Um ou mais identificadores de variável separados pelo caracter
          **|** (pipe). Caso omitido, assume o valor **allxp**, que retorna quaisquer
          variáveis relacionada ao agregado. Para saber mais sobre as variáveis de
          cada agregado, acesse seus respectivos <a href=''#api-Metadados-agregadosAgregadoMetadadosGet''>metadados</a>


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis/214|1982?localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis/214|1982?localidades=BR</a>


              Obtém os resultados referentes às variáveis quantidade produzida (**214**)
          e a quantidade vendida (**1982**) do agregado 1712 no Brasil (**BR**)


          É possível informar o valor **all**, que retorna, além das variáveis padrão,
          variáveis percentuais geradas automaticamente pela API, quando aplicável
          ao agregado


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis/214|1982?localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis/all?localidades=BR</a>


              Obtém os resultados referentes às variáveis do agregado 1712, incluindo
          variáveis percentuais geradas pela API, no Brasil (**BR**)'
        required: true
        type: string
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: localidades
        in: query
        description: 'Uma ou mais localidades delimitadas pelo caracter | (pipe).
          No caso do Brasil, o identificador é **BR**. Para qualquer localidade que
          NÃO seja Macrorregião, Unidade da Federação, Mesorregião, Microrregião e
          Município, essa deve seguir o padrão  **N&lt;NIVEL_GEOGRAFICO>[&lt;LOCALIDADE>]**
          - Para saber mais sobre os identificadores das localidades, acesse <a target=''_blank''
          href=''https://sidra.ibge.gov.br/territorio''>https://sidra.ibge.gov.br/territorio</a>
          - em que **&lt;LOCALIDADE>** pode ser uma ou mais localidades separadas
          por vírgula. É possível ainda generalizar o resultado, informando a classe
          da localidade, conforme os exemplos a seguir


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7''>https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7</a>


              Obtém os resultados referentes às variáveis do agregado 1705 cujas localidades
          sejam regiões metropolitanas (**N7**)


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7[3501,3301]''>https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7[3501,3301]</a>


              Obtém os resultados referentes às variáveis do agregado 1705 cujas localidades
          sejam as regiões metropolitanas (**N7**) de São Paulo e Rio de Janeiro (**3501,3301**).
          Observe que 3501 e 3301 são, respectivamente, os identificadores das regiões
          metropolitanas de São Paulo e Rio de Janeiro. Não podem ser confundidos,
          portanto, com os identificadores dos municípios de São Paulo/SP e Rio de
          Janeiro/RJ, que são 3550308 e 3304557, respectivamente


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7[3501,3301]|5208707''>https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7[3501,3301]|5208707</a>


              Obtém os resultados referentes às variáveis do agregado 1705 cujas localidades
          sejam as regiões metropolitanas (**N7**) de São Paulo e Rio de Janeiro (**3501,3301**)
          e o município de Goiânia/GO (**5208707**) - Por ser um município, não há
          a necessidade de informar o nível geográfico ao qual pertence, de forma
          que essa URL é equivalente à


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7[3501,3301]|N6[5208707]''>https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?localidades=N7[3501,3301]|N6[5208707]</a>'
        required: true
        type: string
        x-codegen-hasMoreRequired: false
      - name: classificacao
        in: query
        description: 'Além de estar relacionado à uma dada localidade e um determinado
          período, os resultados das variáveis podem estar relacionados à outros conjuntos
          de dados, que na nomenclatura do SIDRA recebe o nome de **classificação**.
          Como exemplo, considere o agregado <a target=''_blank'' href=''https://sidra.ibge.gov.br/tabela/1712''>Produção,
          venda, valor da produção e área colhida da lavoura temporária nos estabelecimentos
          agropecuários</a>. Além da localidade e do período, os resultados produzidos
          por esse agregado referem-se aos produtos produzidos, condição do produtor,
          grupos de atividades econômica, grupos de área, grupos de área colhida e
          pronafiano, que são as classificações do agregado - Para conhecer as classificações
          de cada agregado, acesse seus respectivos <a href=''#api-Metadados-agregadosAgregadoMetadadosGet''>metadados</a>.
          Aos componentes da classificação, dar-se o nome de **categoria**. Na prática,
          você fará uso das classificações para restringir a consulta, conforme os
          exemplos a seguir


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classificacao=226[4844]&localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classificacao=226[4844]&localidades=BR</a>


              Obtém os resultados referentes às variáveis do agregado 1712 cujo produto
          produzido (**226**) seja abacaxi (**4844**) no Brasil (**BR**)


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classificacao=226[4844]|218[4780]&localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classificacao=226[4844]|218[4780]&localidades=BR</a>


              Obtém os resultados referentes às variáveis do agregado 1712 cujo produto
          produzido (**226**) seja abacaxi (**4844**) e cuja condição do produtor
          (**218**) seja proprietário (**4780**) no Brasil (**BR**)


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classificacao=226[4844,96608,96609]|218[4780]&localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classificacao=226[4844,96608,96609]|218[4780]&localidades=BR</a>


              Obtém os resultados referentes às variáveis do agregado 1712 cujos produtos
          produzidos (**226**) sejam abacaxi, alho e batata-inglesa (**4844,96608,96609**)
          e cuja condição do produtor (**218**) seja proprietário (**4780**) no Brasil
          (**BR**)


          Conforme observado acima, você deve informar a classificação segundo o padrão
          **&lt;CLASSIFICACAO>[&lt;CATEGORIA>]**, em que **&lt;CATEGORIA>** pode ser
          uma ou mais categorias separadas por vírgula. Caso deseje informar mais
          de uma classificação, separe-as usando o caracter **|** (pipe). Se desejar
          obter as categorias de uma classificação, sem distinção, informe a palavra-chave
          **all**.


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?&classifcacao=226[all]&localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?classifcacao=226[all]&localidades=BR</a>


              Todos os resultados dos produtos produzidos (**226[all]**), referentes
          às variáveis do agregado 1712 no Brasil (**BR**) serão retornados


          <hr />Por padrão, **caso omitido**, serão recuperados apenas os resultados
          referentes à categoria **Total**, que é uma categoria especial cujo identificador
          é **0**. Essa categoria é retornada **sempre que não desejar restringir
          a classificação** a uma categoria específica.


          <a href=''https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?localidades=BR''>https://servicodados.ibge.gov.br/api/v3/agregados/1712/variaveis?localidades=BR</a>


          Na URL acima, como não foi especificado nenhuma classificação, a resposta
          retornada será o número de estabelecimentos agropecuários, quantidade produzida,
          quantidade vendida, valor da produção e área colhida no Brasil (**BR**)




          **obs**: é possível, embora raro, que alguns agregados não possuam relação
          com nenhuma classificação, além de localidade e período. É o caso, por exemplo,
          do agregado <a target=''_blank'' href=''https://sidra.ibge.gov.br/tabela/118''>118</a>'
        required: false
        type: string
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: view
        in: query
        description: Modo de visualização. Caso deseje que a resposta seja renderizada
          usando notação OLAP, configure esse parâmetro com o valor **OLAP** - <a
          href='https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?view=OLAP&localidades=BR'>https://servicodados.ibge.gov.br/api/v3/agregados/1705/variaveis?view=OLAP&localidades=BR</a>.
          A outra opção é configurar esse parâmetro com o valor **flat**. No modo
          flat, o primeiro elemento do Array são metadados, de forma que os resultados
          vêm a partir do segundo elemento
        required: false
        type: string
        x-codegen-hasMoreOptional: false
      responses:
        '200':
          description: Array de variáveis - Na resposta, virá ainda os resultados
            referentes à cada classificação
          schema:
            type: array
            items:
              $ref: '#/definitions/Indicador'
definitions:
  Agregado:
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: Identificador do agregado
      nome:
        type: string
        description: Nome do agregado
  agregadosagregadolocalidadesnivel_nivel:
    properties:
      id:
        type: string
        description: Identificador do nível geográfico
      nome:
        type: string
        description: Nome do nível geográfico
  Indicador:
    type: object
    properties:
      id:
        type: string
        description: Identificador da variável
      variavel:
        type: string
        description: Nome da variável
      unidade:
        type: string
        description: Unidade de medida da variável
      resultados:
        type: array
        description: Array com os resultados associados à variável - Para cada combinação
          de classificações, as respectivas séries históricas serão retornadas
        items:
          $ref: '#/definitions/Indicador_resultados'
  Indicador_classificacoes:
    properties:
      id:
        type: string
        description: Identificador da classificação
      nome:
        type: string
        description: Nome da classificação
      categoria:
        type: object
        description: Objeto contendo apenas uma propriedade em que a chave e o valor
          correspondem, respectivamente, ao identificador e nome da categoria
        properties: {}
  Indicador_localidade:
    properties:
      id:
        type: string
        description: Identificador da localidade. No caso do Brasil, o valor no SIDRA
          é 1
      nivel:
        $ref: '#/definitions/Indicador_localidade_nivel'
      nome:
        type: string
        description: Nome da localidade
  Indicador_localidade_nivel:
    properties:
      id:
        type: string
        description: Identificador do nível geográfico
      nome:
        type: string
        description: Nome do nível geográfico
    description: Nível geográfico a que pertence a localidade. Essa propriedade é
      útil quando a resposta retorna localidades de níveis geográficos diferentes.
      Caso as localidades sejam do mesmo nível geográfico, essa propriedade vira configurada
      com o valor null
  Indicador_resultados:
    properties:
      classificacoes:
        type: array
        items:
          $ref: '#/definitions/Indicador_classificacoes'
      series:
        type: array
        description: Array de séries históricas em que cada objeto armazena uma localidade
          e sua respectiva série
        items:
          $ref: '#/definitions/Indicador_series'
  Indicador_series:
    properties:
      localidade:
        $ref: '#/definitions/Indicador_localidade'
      serie:
        type: array
        description: Objeto no qual as chaves e o valores das propriedades correspondem
          aos períodos pesquisados e seus respectivos resultados
  inline_response_200:
    properties:
      id:
        type: string
        description: Identificador da localidade
      nome:
        type: string
        description: Nome da localidade
      nivel:
        $ref: '#/definitions/agregadosagregadolocalidadesnivel_nivel'
  inline_response_200_1:
    properties:
      id:
        type: string
        description: Identificador do período. Para um mês específico, segue o padrão
          **YYYYMM**, no qual **YYYY** refere-se ao ano e **MM** ao mês
      literals:
        type: array
        description: Array de representações textuais do período
        items:
          type: string
  Metadado:
    type: object
    properties:
      id:
        type: number
        description: Identificador do agregado
      nome:
        type: string
        description: Nome do agregado
      URL:
        type: string
        description: Página do Agregado no portal do SIDRA
      pesquisa:
        type: string
        description: Pesquisa a que pertence o agregado
      assunto:
        type: string
        description: Assunto informado pelo agregado
      periodicidade:
        $ref: '#/definitions/Metadado_periodicidade'
      nivelTerritorial:
        $ref: '#/definitions/Metadado_nivelTerritorial'
      variaveis:
        type: array
        items:
          $ref: '#/definitions/Metadado_variaveis'
      classificacoes:
        type: array
        items:
          $ref: '#/definitions/Metadado_classificacoes'
  Metadado_categorias:
    properties:
      id:
        type: number
        description: Identificador da categoria
      nome:
        type: string
        description: Nome da categoria
      unidade:
        type: string
        description: Unidade da categoria. Pode assumir valor null
  Metadado_classificacoes:
    properties:
      id:
        type: number
        description: Identificador da classificação
      nome:
        type: string
        description: Nome da classificação
      sumarizacao:
        $ref: '#/definitions/Metadado_sumarizacao'
      categorias:
        type: array
        items:
          $ref: '#/definitions/Metadado_categorias'
  Metadado_nivelTerritorial:
    properties:
      Administrativo:
        type: array
        description: 'Quando o agregado abranger qualquer divisão político-administrativa
          do Brasil. Pode assumir os seguintes valores: N1 (Brasil), N2 (Região),
          N3 (Unidade da Federação), N8 (Mesorregião), N9 (Microrregião), N7 (Região
          metropolitana), N6 (Município), N10 (Distrito), N11 (Subdistrito), N102
          (Bairro), N15 (Aglomeração urbana), N14 (Região Integrada de Desenvolvimento),
          N13 (Região metropolitana e subdivisão)'
        items:
          type: string
      Especial:
        type: array
        description: 'Quando o agregado abranger alguma divisão especial. Pode assumir
          os seguintes valores: N17 (Aglomerado subnormal), N23 (Arranjo populacional),
          N101 (País do Mercosul, Bolívia e Chile), N104 (Argentina), N105 (Uruguai),
          N106 (Paraguai), N107 (Departamento - Paraguai), N108 (Departamento - Uruguai),
          N109 (Província), N111 (Unidade Federativa do Mercosul, Bolívia e Chile),
          N123 (Bioma), N124 (Corpo d''água), N125 (Terra indígena), N126 (Unidade
          de Conservação Ambiental), N127 (Núcleo de desertificação), N128 (Praia),
          N129 (Territórios da cidadania), N131 (Amazônia Legal), N132 (Semiárido),
          N133 (Semiárido de Unidade da Federação), N134 (Amazônia Legal de Unidade
          da Federação)'
        items:
          type: string
      IBGE:
        type: array
        description: 'Quando o agregado abranger alguma divisão específica do IBGE.
          Pode assumir os seguintes valores: N18 (Área de Ponderação), N19 (Área de
          Ponderação Recalculada), N20 (Área de Divulgação da Amostra para Aglomerados
          Subnormais), N21 (Total dos municípios das capitais da Grande Região), N22
          (Total dos municípios das capitais), N103 (Total das áreas - POF), N110
          (Total das áreas - PME), N122 (Grande Região - PIMES), N130 (Capital / Não
          Capital de Unidade da Federação), N1100 (Brasil, sem especificação de Unidade
          da Federação), N1101 (Ignorado), N1102 (Estrangeiro), N1103 (Total), N1104
          (Unidade da Federação, sem especificação de Município), N1105 (Área de influência
          - PNSB)'
        items:
          type: string
    description: Nível abrangido pelo agregado
  Metadado_periodicidade:
    properties:
      frequencia:
        type: string
        description: Frequência na qual são coletados os dados do agregado. Caso a
          frequência seja mensal, o formato do período seguirá o padrão YYYYMM, no
          qual YYYY refere-se ao ano e MM ao mês
      inicio:
        type: string
        description: Período inicial da coleta dos dados
      fim:
        type: string
        description: Último período coletado
  Metadado_sumarizacao:
    properties:
      status:
        type: boolean
        description: Informa se as categorias da classificação podem ser somadas para
          obter-se o resultado da classificação
      excecao:
        type: boolean
        description: Informa quais categorias da classificação devem ser desconsideradas
          ao obter a sumarização da classificação
    description: Equivalente a propriedade variaveis.sumarização, exceto pelo fato
      que esta refere-se à soma das categorias para obter-se o resultado da classificação
  Metadado_variaveis:
    properties:
      id:
        type: number
        description: Identificador da variável
      nome:
        type: string
        description: Nome da variável
      unidade:
        type: string
        description: Unidade da variável
      sumarizacao:
        type: array
        description: Informa qual dimensões podem ser sumarizadas - Por exemplo, se
          você somar os resultados das variáveis referentes às Unidades da Federação,
          obterá o resultado do Brasil. Da mesma forma, se você somar resultados das
          variáveis referentes aos meses do ano, obterá o resultado do respectivo
          ano. Valores possíveis são nivelTerritorial e periodo
        items:
          type: string
  Pesquisa:
    type: object
    properties:
      id:
        type: string
        description: Identificador da pesquisa
      nome:
        type: string
        description: Nome da pesquisa
      agregados:
        type: array
        items:
          $ref: '#/definitions/Agregado'

