info:
  version: 1.0.0
  title: API de pesquisas
  description: "As pesquisas providas por este serviço são um subconjunto da [API\
    \ de\nAgregados](https://servicodados.ibge.gov.br/api/docs/agregados?versao=3)\
    \ - Para\nsaber mais entre a relação desta API com a de Agregados, consulte a\
    \ secção\n[Perguntas frequentes](#api-faq) - e de outras fontes externas ao IBGE,\n\
    continuamente enriquecidas e validadas  \n  \n  \n**obs 1:** consulte os identificadores\
    \ das localidades por meio da [API de\nLocalidades](https://servicodados.ibge.gov.br/api/docs/localidades)"
externalDocs:
  description: Documentação oficial
  url: https://servicodados.ibge.gov.br/api/docs/pesquisas?versao=1
swagger: '2.0'
host: servicodados.ibge.gov.br
basePath: /api/v1/pesquisas
schemes:
- https
produces:
- application/json
tags:
- name: Indicadores
- name: Periodos
- name: Pesquisas
- name: Ranking
- name: Resultados
paths:
  /{pesquisa}/indicadores/{posicao}:
    get:
      tags:
      - Indicadores
      summary: Indicadores por pesquisa
      description: Funcionalmente igual à consulta /pesquisas/{pesquisa}/periodos/all/indicadores/{posicao}
      operationId: pesquisasPesquisaIndicadoresPosicaoGet
      parameters:
      - name: pesquisa
        in: path
        description: Identificador da pesquisa
        required: true
        type: number
        format: int64
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: posicao
        in: path
        description: "Posição de apenas um indicador **ou** um ou mais identificadores\
          \ delimitados pelo caracter **|** (pipe). Assume por padrão o valor **0**,\
          \ uma referência abstrata a qualquer indicador.\n\n**Sobre a posição do\
          \ indicador**\n\nUsualmente, cada indicador compartilha alguma porção de\
          \ sua descrição. Por exemplo, a pesquisa *Ensino - matrículas, docentes\
          \ e rede escolar* possui, dentre outros, os seguintes indicadores\n\n```\n\
          Matrícula - Ensino pré-escolar - Escola publica municipal\nMatrícula - Ensino\
          \ pré-escolar - Escola publica estadual\nMatrícula - Ensino pré-escolar\
          \ - Escola publica federal\nMatrícula - Ensino pré-escolar - Escola privada\n\
          ```\nConforme acima, a porção da descrição *Matrícula - Ensino pré-escolar*\
          \ é compartilhada entre os quatros indicadores. Devido a isso e visando\
          \ uma melhor navegação, os indicadores de cada pesquisas são organizados\
          \ de acordo com uma lista numerada, de forma que o exemplo acima fique\n\
          ```\n1. Matrícula\n  1. Ensino pré-escolar\n    1. Escola publica municipal\n\
          \    2. Escola publica estadual\n    3. Escola publica federal\n    4. Escola\
          \ privada\n```\nAssim, cada indicador possui uma posição associada, que\
          \ reflete a posição do indicador na pesquisa. Por exemplo, o indicador \
          \ *Matrícula - Ensino pré-escolar - Escola publica federal*, possui a posição\
          \ 1.1.3, conforme acima. \n\nComo consequência, você possui a flexibilidade\
          \ de obter informações sobre um indicador através de seu identificador ou\
          \ de sua posição\n"
        required: true
        type: string
      - name: scope
        in: query
        description: 'Usado com o parâmetro **posicao**, restringe os indicadores.
          Pode assumir os valores **sub**, no qual se obtém qualquer indicador vinculado
          direta ou indiretamente àquele especificado no parâmetro **posicao**, incluindo
          o próprio; **one**, no qual se obtém somente os indicadores vinculados diretamente
          ao especificado no parâmetro **posicao**; **base**, no qual obtém somente
          o indicador especificado pelo parâmetro **posicao**. Caso omitido, assume
          o valor padrão **sub**


          Citando como exemplo o cenário no parâmetro posição, caso se desejasse apenas
          o indicador **1.1**, você especificaria o valor do parâmetro scope como
          **base**. Se desejar apenas os indicadores vinculados diretamente ao indicador
          **1.1** - 1.1.1, 1.1.2, 1.1.3 e 1.1.4 -, você configuraria o valor do scope
          como **one**. Por fim, caso desejasse o indicador **1.1** e qualquer outro
          indicador vinculado direta ou indiretamente a ele, você usaria o valor **sub**,
          que é o valor padrão caso não seja especificado

          '
        required: false
        type: string
      - name: localidade
        in: query
        description: Uma ou mais localidades delimitadas por vírgula. É possível ainda
          especificar a localidade usando o padrão como **[0-9]xxxxx**, que consiste
          em pelo menos um número seguido por uma sequência aleatória do caracter
          x
        required: false
        type: string
      responses:
        '200':
          description: Array dos indicadores
          schema:
            type: array
            items:
              $ref: '#/definitions/Indicador'
  /{pesquisa}/periodos/{periodos}/indicadores/{posicao}:
    get:
      tags:
      - Indicadores
      summary: Indicadores por pesquisa e períodos pesquisados
      description: Obtém o conjunto de indicadores e os respectivos resultados. Observe
        que os indicadores são vinculados ao período pesquisado e não à pesquisa.
        Isso se deve ao fato de que indicadores podem ser desmebrados ou mesmo combinados
        entre diferentes períodos pesquisados. No entanto, o IBGE se esforça para
        manter a compatilidade entre os diversos períodos pesquisados, embora nem
        sempre isso seja possível.
      operationId: pesquisasPesquisaPeriodosPeriodosIndicadoresPosicaoGet
      parameters:
      - name: pesquisa
        in: path
        description: Identificador da pesquisa
        required: true
        type: number
        format: int64
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: periodos
        in: path
        description: 'Período do qual se deseja obter os indicadores. Pode conter
          um ou mais períodos delimitados pelo caracter **|** (pipe). É possível ainda
          usar a palavra-chave **all** para identificar qualquer período associado
          à pesquisa - A palavra-chave **all** só pode ser usada se os <a href=''#api-Periodos-pesquisasPesquisaPeriodosGet''>períodos
          pesquisados</a> compartilharem o mesmo valor para a propriedade versão

          '
        required: true
        type: string
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: posicao
        in: path
        description: "Posição de apenas um indicador **ou** um ou mais identificadores\
          \ delimitados pelo caracter **|** (pipe). Assume por padrão o valor **0**,\
          \ uma referência abstrata a qualquer indicador.\n\n**Sobre a posição do\
          \ indicador**\n\nUsualmente, cada indicador compartilha alguma porção de\
          \ sua descrição. Por exemplo, a pesquisa *Ensino - matrículas, docentes\
          \ e rede escolar* possui, dentre outros, os seguintes indicadores\n\n```\n\
          Matrícula - Ensino pré-escolar - Escola publica municipal\nMatrícula - Ensino\
          \ pré-escolar - Escola publica estadual\nMatrícula - Ensino pré-escolar\
          \ - Escola publica federal\nMatrícula - Ensino pré-escolar - Escola privada\n\
          ```\nConforme acima, a porção da descrição *Matrícula - Ensino pré-escolar*\
          \ é compartilhada entre os quatros indicadores. Devido a isso e visando\
          \ uma melhor navegação, os indicadores de cada pesquisas são organizados\
          \ de acordo com uma lista numerada, de forma que o exemplo acima fique\n\
          ```\n1. Matrícula\n  1. Ensino pré-escolar\n    1. Escola publica municipal\n\
          \    2. Escola publica estadual\n    3. Escola publica federal\n    4. Escola\
          \ privada\n```\nAssim, cada indicador possui uma posição associada, que\
          \ reflete a posição do indicador na pesquisa. Por exemplo, o indicador \
          \ *Matrícula - Ensino pré-escolar - Escola publica federal*, possui a posição\
          \ 1.1.3, conforme acima. \n\nComo consequência, você possui a flexibilidade\
          \ de obter informações sobre um indicador através de seu identificador ou\
          \ de sua posição\n"
        required: true
        type: string
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: scope
        in: query
        description: 'Usado com o parâmetro **posicao**, restringe os indicadores.
          Pode assumir os valores **sub**, no qual se obtém qualquer indicador vinculado
          direta ou indiretamente àquele especificado no parâmetro **posicao**, incluindo
          o próprio; **one**, no qual se obtém somente os indicadores vinculados diretamente
          ao especificado no parâmetro **posicao**; **base**, no qual obtém somente
          o indicador especificado pelo parâmetro **posicao**. Caso omitido, assume
          o valor padrão **sub**


          Citando como exemplo o cenário no parâmetro posição, caso se desejasse apenas
          o indicador **1.1**, você especificaria o valor do parâmetro scope como
          **base**. Se desejar apenas os indicadores vinculados diretamente ao indicador
          **1.1** - 1.1.1, 1.1.2, 1.1.3 e 1.1.4 -, você configuraria o valor do scope
          como **one**. Por fim, caso desejasse o indicador **1.1** e qualquer outro
          indicador vinculado direta ou indiretamente a ele, você usaria o valor **sub**,
          que é o valor padrão caso não seja especificado

          '
        required: false
        type: string
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: localidade
        in: query
        description: Uma ou mais localidades delimitadas por vírgula. É possível ainda
          especificar a localidade usando o padrão como **[0-9]xxxxx**, que consiste
          em pelo menos um número seguido por uma sequência aleatória do caracter
          x
        required: false
        type: string
      responses:
        '200':
          description: Array dos indicadores
          schema:
            type: array
            items:
              $ref: '#/definitions/Indicador'
  /{pesquisa}/periodos:
    get:
      tags:
      - Periodos
      summary: Períodos por pesquisa
      description: Obtém o conjunto de períodos de uma pesquisa a partir do identificador
        desta
      operationId: pesquisasPesquisaPeriodosGet
      parameters:
      - name: pesquisa
        in: path
        description: Identificador da pesquisa
        required: true
        type: number
        format: int64
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      responses:
        '200':
          description: Array de períodos
          schema:
            type: array
            items:
              $ref: '#/definitions/Periodo'
  /:
    get:
      tags:
      - Pesquisas
      summary: Pesquisas
      description: Obtém o conjunto de pesquisas. Caso queira restringir o resultado,
        informe o parâmetro q
      operationId: pesquisasGet
      parameters:
      - name: q
        in: query
        description: Critério de busca
        required: false
        type: string
      responses:
        '200':
          description: Array de pesquisas
          schema:
            type: array
            items:
              $ref: '#/definitions/Pesquisa'
  /{pesquisas}:
    get:
      tags:
      - Pesquisas
      summary: Pesquisa por identificador
      description: Obtém o conjunto de pesquisas a partir dos respectivos identificadores
      operationId: pesquisasPesquisasGet
      parameters:
      - name: pesquisas
        in: path
        description: Um ou mais identificadores delimitados pelo caracter **|** (pipe)
        required: true
        type: string
      responses:
        '200':
          description: Um objeto - Caso apenas um identificador seja informado - ou
            um array de pesquisas
          schema:
            type: array
            items:
              $ref: '#/definitions/Pesquisa'
  /{pesquisa}/indicadores/{indicador}/ranking:
    get:
      tags:
      - Ranking
      summary: Ranking por pesquisa e indicadores
      description: Funcionalmente igual à consulta /pesquisas/{pesquisa}/periodos/all/indicadores/{indicador}/ranking
      operationId: pesquisasPesquisaIndicadoresIndicadorRankingGet
      parameters:
      - name: pesquisa
        in: path
        description: Identificador da pesquisa
        required: true
        type: number
        format: int64
      - name: indicador
        in: path
        description: Um ou mais identificadores de indicador separados pelo caracter
          **|** (pipe)
        required: true
        type: string
      - name: orderBy
        in: query
        description: 'Informe como será definido o ordenamento. Pode assumir os valores
          **ASC** ou **DESC**. Por padrão, assume o valor **DESC**

          '
        required: false
        type: string
      - name: contexto
        in: query
        description: 'Contextos do qual será obtido as localidades. Caso mais de um
          contexto seja informado, use vírgula para separá-los. Por padrão, assume
          o valor **BR**. Pode ainda representar uma região do país, como **N**, **NE**,
          **SE**, **S** ou **CE** ou ainda uma Unidade da Federação - Neste caso,
          usar o código do IBGE


          Citando como exemplo, caso desejar o ordenamento de um dado indicador dos
          municípios da região Norte do Brasil, configure o contexto com o valor **N**
          e a natureza da localidade com o valor **4**

          '
        required: false
        type: string
      - name: natureza
        in: query
        description: 'Natureza das localidades obtidas do contexto. Pode ser **3**
          ou **4**, indicando Unidade da Federação e municípios, respectivamente.
          Por padrão, assume o valor **4**

          '
        required: false
        type: number
        format: int32
      - name: offset
        in: query
        description: 'Quando especificado, informa o deslocamento relativo ao primeiro
          registro - Similar à palavra-chave de mesmo nome usado por alguns sistemas
          de gerenciamento de banco de dados. Usado com os parâmetros **lower** e
          **upper**. Assume por padrão o valor **1**. Se desejar que o deslocamento
          seja relativo a uma localidade, use o parâmetro **localidade**

          '
        required: false
        type: number
        format: int32
      - name: lower
        in: query
        description: 'Quantidade de registros, a serem retornados, anteriores àquele
          especificado pelo parâmetro **offset** ou **localidade**

          '
        required: false
        type: number
      - name: upper
        in: query
        description: 'Quantidade de registros, a serem retornados, posteriores àquele
          especificado pelo parâmetro **offset** ou **localidade**

          '
        required: false
        type: number
      - name: localidade
        in: query
        description: Equivalente ao parâmetro **offset**, exceto pelo fato de que
          o deslocamento é relativo a uma dada localidade
        required: false
        type: string
      responses:
        '200':
          description: Array ordenado do resultados
          schema:
            type: array
            items:
              $ref: '#/definitions/Ranking'
  /{pesquisa}/periodos/{periodos}/indicadores/{indicador}/ranking:
    get:
      tags:
      - Ranking
      summary: Ranking por pesquisa, períodos pesquisados e indicadores
      description: Obtém o ranking dos resultados de um dado indicador. Válido apenas
        para indicadores cujas classes sejam N ou $
      operationId: pesquisasPesquisaPeriodosPeriodosIndicadoresIndicadorRankingGet
      parameters:
      - name: pesquisa
        in: path
        description: Identificador da pesquisa
        required: true
        type: number
        format: int64
        x-codegen-hasMoreRequired: false
        x-codegen-hasMoreOptional: true
      - name: periodos
        in: path
        description: 'Período do qual se deseja obter os indicadores. Pode conter
          um ou mais períodos delimitados pelo caracter **|** (pipe). É possível ainda
          usar a palavra-chave **all** para identificar qualquer período associado
          à pesquisa - A palavra-chave **all** só pode ser usada se os <a href=''#api-Periodos-pesquisasPesquisaPeriodosGet''>períodos
          pesquisados</a> compartilharem o mesmo valor para a propriedade versão

          '
        required: true
        type: string
      - name: indicador
        in: path
        description: Um ou mais identificadores de indicador separados pelo caracter
          **|** (pipe)
        required: true
        type: string
        x-codegen-hasMoreRequired: false
      - name: orderBy
        in: query
        description: 'Informe como será definido o ordenamento. Pode assumir os valores
          **ASC** ou **DESC**. Por padrão, assume o valor **DESC**

          '
        required: false
        type: string
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: contexto
        in: query
        description: 'Contextos do qual será obtido as localidades. Caso mais de um
          contexto seja informado, use vírgula para separá-los. Por padrão, assume
          o valor **BR**. Pode ainda representar uma região do país, como **N**, **NE**,
          **SE**, **S** ou **CE** ou ainda uma Unidade da Federação - Neste caso,
          usar o código do IBGE


          Citando como exemplo, caso desejar o ordenamento de um dado indicador dos
          municípios da região Norte do Brasil, configure o contexto com o valor **N**
          e a natureza da localidade com o valor **4**

          '
        required: false
        type: string
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: natureza
        in: query
        description: 'Natureza das localidades obtidas do contexto. Pode ser **3**
          ou **4**, indicando Unidade da Federação e municípios, respectivamente.
          Por padrão, assume o valor **4**

          '
        required: false
        type: number
        format: int32
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: offset
        in: query
        description: 'Quando especificado, informa o deslocamento relativo ao primeiro
          registro - Similar à palavra-chave de mesmo nome usado por alguns sistemas
          de gerenciamento de banco de dados. Usado com os parâmetros **lower** e
          **upper**. Assume por padrão o valor **1**. Se desejar que o deslocamento
          seja relativo a uma localidade, use o parâmetro **localidade**

          '
        required: false
        type: number
        format: int32
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: lower
        in: query
        description: 'Quantidade de registros, a serem retornados, anteriores àquele
          especificado pelo parâmetro **offset** ou **localidade**

          '
        required: false
        type: number
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: upper
        in: query
        description: 'Quantidade de registros, a serem retornados, posteriores àquele
          especificado pelo parâmetro **offset** ou **localidade**

          '
        required: false
        type: number
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: localidade
        in: query
        description: Equivalente ao parâmetro **offset**, exceto pelo fato de que
          o deslocamento é relativo a uma dada localidade
        required: false
        type: string
      responses:
        '200':
          description: Array ordenado do resultados
          schema:
            type: array
            items:
              $ref: '#/definitions/Ranking'
  /-/indicadores/{indicador}/resultados/{localidade}:
    get:
      tags:
      - Resultados
      summary: Resultados por indicadores e localidades
      description: Obtém os resultados a partir dos identificadores dos indicadores,
        independente da pesquisa e do período pesquisado. Funcionalmente igual à consulta
        /pesquisas/-/periodos/all/indicadores/{indicador}/resultados/{localidade}
      operationId: pesquisasIndicadoresIndicadorResultadosLocalidadeGet
      parameters:
      - name: indicador
        in: path
        description: Um ou mais identificadores de indicadores separados pelo caracter
          **|** (pipe)
        required: true
        type: string
      - name: localidades
        in: path
        description: Uma ou mais localidades delimitadas pelo caracter **|** (pipe)
        required: true
        type: string
      - name: groupBy
        in: query
        description: 'Por padrão, os resultados são agrupados pelo identificador da
          indicador. Caso deseje que sejam agrupados pelo identificador da localidade,
          configure o parâmetro groupBy com o valor **localidade**

          '
        required: false
        type: string
      responses:
        '200':
          description: Array dos resultados agrupados pelo indicador ou localidade
            - Ver parâmetro groupBy
          schema:
            type: array
            items:
              $ref: '#/definitions/Resultado'
  /-/periodos/{periodos}/indicadores/{indicador}/resultados/{localidade}:
    get:
      tags:
      - Resultados
      summary: Resultados por períodos, indicadores e localidades
      description: Obtém os resultados dos indicadores referentes aos períodos pesquisados,
        independente da pesquisa
      operationId: pesquisasPeriodosPeriodosIndicadoresIndicadorResultadosLocalidadeGet
      parameters:
      - name: periodos
        in: path
        description: Período do qual se deseja obter os indicadores. Pode conter um
          ou mais períodos delimitados pelo caracter **|** (pipe). É possível ainda
          usar a palavra-chave **all** para identificar qualquer período pesquisado
        required: true
        type: string
      - name: indicador
        in: path
        description: Um ou mais identificadores de indicadores separados pelo caracter
          **|** (pipe)
        required: true
        type: string
      - name: localidades
        in: path
        description: Uma ou mais localidades delimitadas pelo caracter **|** (pipe)
        required: true
        type: string
        x-codegen-hasMoreRequired: false
      - name: groupBy
        in: query
        description: 'Por padrão, os resultados são agrupados pelo identificador da
          indicador. Caso deseje que sejam agrupados pelo identificador da localidade,
          configure o parâmetro groupBy com o valor **localidade**

          '
        required: false
        type: string
      responses:
        '200':
          description: Array dos resultados agrupados pelo indicador ou localidade
            - Ver parâmetro groupBy
          schema:
            type: array
            items:
              $ref: '#/definitions/Resultado'
  /{pesquisa}/indicadores/{posicao}/resultados/{localidades}:
    get:
      tags:
      - Resultados
      summary: Resultados por pesquisa, indicadores e localidades
      description: Funcionalmente igual à consulta /pesquisas/{pesquisa}/periodos/all/indicadores/{posicao}/resultados/{localidades}
      operationId: pesquisasPesquisaIndicadoresPosicaoResultadosLocalidadesGet
      parameters:
      - name: pesquisa
        in: path
        description: Identificador da pesquisa
        required: true
        type: number
        format: int64
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: posicao
        in: path
        description: "Posição de apenas um indicador **ou** um ou mais identificadores\
          \ delimitados pelo caracter **|** (pipe). Assume por padrão o valor **0**,\
          \ uma referência abstrata a qualquer indicador.\n\n**Sobre a posição do\
          \ indicador**\n\nUsualmente, cada indicador compartilha alguma porção de\
          \ sua descrição. Por exemplo, a pesquisa *Ensino - matrículas, docentes\
          \ e rede escolar* possui, dentre outros, os seguintes indicadores\n\n```\n\
          Matrícula - Ensino pré-escolar - Escola publica municipal\nMatrícula - Ensino\
          \ pré-escolar - Escola publica estadual\nMatrícula - Ensino pré-escolar\
          \ - Escola publica federal\nMatrícula - Ensino pré-escolar - Escola privada\n\
          ```\nConforme acima, a porção da descrição *Matrícula - Ensino pré-escolar*\
          \ é compartilhada entre os quatros indicadores. Devido a isso e visando\
          \ uma melhor navegação, os indicadores de cada pesquisas são organizados\
          \ de acordo com uma lista numerada, de forma que o exemplo acima fique\n\
          ```\n1. Matrícula\n  1. Ensino pré-escolar\n    1. Escola publica municipal\n\
          \    2. Escola publica estadual\n    3. Escola publica federal\n    4. Escola\
          \ privada\n```\nAssim, cada indicador possui uma posição associada, que\
          \ reflete a posição do indicador na pesquisa. Por exemplo, o indicador \
          \ *Matrícula - Ensino pré-escolar - Escola publica federal*, possui a posição\
          \ 1.1.3, conforme acima. \n\nComo consequência, você possui a flexibilidade\
          \ de obter informações sobre um indicador através de seu identificador ou\
          \ de sua posição\n"
        required: true
        type: string
        x-codegen-hasMoreRequired: false
      - name: localidades
        in: path
        description: Uma ou mais localidades delimitadas pelo caracter **|** (pipe)
        required: true
        type: string
        x-codegen-hasMoreRequired: false
      - name: scope
        in: query
        description: 'Usado com o parâmetro **posicao**, restringe os indicadores.
          Pode assumir os valores **sub**, no qual se obtém qualquer indicador vinculado
          direta ou indiretamente àquele especificado no parâmetro **posicao**, incluindo
          o próprio; **one**, no qual se obtém somente os indicadores vinculados diretamente
          ao especificado no parâmetro **posicao**; **base**, no qual obtém somente
          o indicador especificado pelo parâmetro **posicao**. Caso omitido, assume
          o valor padrão **sub**


          Citando como exemplo o cenário no parâmetro posição, caso se desejasse apenas
          o indicador **1.1**, você especificaria o valor do parâmetro scope como
          **base**. Se desejar apenas os indicadores vinculados diretamente ao indicador
          **1.1** - 1.1.1, 1.1.2, 1.1.3 e 1.1.4 -, você configuraria o valor do scope
          como **one**. Por fim, caso desejasse o indicador **1.1** e qualquer outro
          indicador vinculado direta ou indiretamente a ele, você usaria o valor **sub**,
          que é o valor padrão caso não seja especificado

          '
        required: false
        type: string
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: groupBy
        in: query
        description: 'Por padrão, os resultados são agrupados pelo identificador da
          indicador. Caso deseje que sejam agrupados pelo identificador da localidade,
          configure o parâmetro groupBy com o valor **localidade**

          '
        required: false
        type: string
      responses:
        '200':
          description: Array dos resultados agrupados pelo indicador ou localidade
            - Ver parâmetro groupBy
          schema:
            type: array
            items:
              $ref: '#/definitions/Resultado'
  /{pesquisa}/periodos/{periodos}/indicadores/{posicao}/resultados/{localidades}:
    get:
      tags:
      - Resultados
      summary: Resultados por pesquisa, períodos pesquisados, indicadores e localidades
      description: Obtém os resultados dos indicadores
      operationId: pesquisasPesquisaPeriodosPeriodosIndicadoresPosicaoResultadosLocalidadesGet
      parameters:
      - name: pesquisa
        in: path
        description: Identificador da pesquisa
        required: true
        type: number
        format: int64
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: periodos
        in: path
        description: 'Período do qual se deseja obter os indicadores. Pode conter
          um ou mais períodos delimitados pelo caracter **|** (pipe). É possível ainda
          usar a palavra-chave **all** para identificar qualquer período associado
          à pesquisa - A palavra-chave **all** só pode ser usada se os <a href=''#api-Periodos-pesquisasPesquisaPeriodosGet''>períodos
          pesquisados</a> compartilharem o mesmo valor para a propriedade versão

          '
        required: true
        type: string
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: posicao
        in: path
        description: "Posição de apenas um indicador **ou** um ou mais identificadores\
          \ delimitados pelo caracter **|** (pipe). Assume por padrão o valor **0**,\
          \ uma referência abstrata a qualquer indicador.\n\n**Sobre a posição do\
          \ indicador**\n\nUsualmente, cada indicador compartilha alguma porção de\
          \ sua descrição. Por exemplo, a pesquisa *Ensino - matrículas, docentes\
          \ e rede escolar* possui, dentre outros, os seguintes indicadores\n\n```\n\
          Matrícula - Ensino pré-escolar - Escola publica municipal\nMatrícula - Ensino\
          \ pré-escolar - Escola publica estadual\nMatrícula - Ensino pré-escolar\
          \ - Escola publica federal\nMatrícula - Ensino pré-escolar - Escola privada\n\
          ```\nConforme acima, a porção da descrição *Matrícula - Ensino pré-escolar*\
          \ é compartilhada entre os quatros indicadores. Devido a isso e visando\
          \ uma melhor navegação, os indicadores de cada pesquisas são organizados\
          \ de acordo com uma lista numerada, de forma que o exemplo acima fique\n\
          ```\n1. Matrícula\n  1. Ensino pré-escolar\n    1. Escola publica municipal\n\
          \    2. Escola publica estadual\n    3. Escola publica federal\n    4. Escola\
          \ privada\n```\nAssim, cada indicador possui uma posição associada, que\
          \ reflete a posição do indicador na pesquisa. Por exemplo, o indicador \
          \ *Matrícula - Ensino pré-escolar - Escola publica federal*, possui a posição\
          \ 1.1.3, conforme acima. \n\nComo consequência, você possui a flexibilidade\
          \ de obter informações sobre um indicador através de seu identificador ou\
          \ de sua posição\n"
        required: true
        type: string
        x-codegen-hasMoreRequired: false
        x-codegen-hasMoreOptional: true
      - name: localidades
        in: path
        description: Uma ou mais localidades delimitadas pelo caracter **|** (pipe)
        required: true
        type: string
        x-codegen-hasMoreRequired: false
      - name: scope
        in: query
        description: 'Usado com o parâmetro **posicao**, restringe os indicadores.
          Pode assumir os valores **sub**, no qual se obtém qualquer indicador vinculado
          direta ou indiretamente àquele especificado no parâmetro **posicao**, incluindo
          o próprio; **one**, no qual se obtém somente os indicadores vinculados diretamente
          ao especificado no parâmetro **posicao**; **base**, no qual obtém somente
          o indicador especificado pelo parâmetro **posicao**. Caso omitido, assume
          o valor padrão **sub**


          Citando como exemplo o cenário no parâmetro posição, caso se desejasse apenas
          o indicador **1.1**, você especificaria o valor do parâmetro scope como
          **base**. Se desejar apenas os indicadores vinculados diretamente ao indicador
          **1.1** - 1.1.1, 1.1.2, 1.1.3 e 1.1.4 -, você configuraria o valor do scope
          como **one**. Por fim, caso desejasse o indicador **1.1** e qualquer outro
          indicador vinculado direta ou indiretamente a ele, você usaria o valor **sub**,
          que é o valor padrão caso não seja especificado

          '
        required: false
        type: string
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: groupBy
        in: query
        description: 'Por padrão, os resultados são agrupados pelo identificador da
          indicador. Caso deseje que sejam agrupados pelo identificador da localidade,
          configure o parâmetro groupBy com o valor **localidade**

          '
        required: false
        type: string
      responses:
        '200':
          description: Array dos resultados agrupados pelo indicador ou localidade
            - Ver parâmetro groupBy
          schema:
            type: array
            items:
              $ref: '#/definitions/Resultado'
  /{pesquisa}/resultados/{localidades}:
    get:
      tags:
      - Resultados
      summary: Resultados por pesquisa e localidades
      description: Funcionalmente igual à consulta /pesquisas/{pesquisa}/periodos/all/indicadores/0/resultados/{localidades}
      operationId: pesquisasPesquisaResultadosLocalidadesGet
      parameters:
      - name: pesquisa
        in: path
        description: Identificador da pesquisa
        required: true
        type: number
        format: int64
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: localidades
        in: path
        description: Uma ou mais localidades delimitadas pelo caracter **|** (pipe)
        required: true
        type: string
        x-codegen-hasMoreRequired: false
      - name: scope
        in: query
        description: 'Usado com o parâmetro **posicao**, restringe os indicadores.
          Pode assumir os valores **sub**, no qual se obtém qualquer indicador vinculado
          direta ou indiretamente àquele especificado no parâmetro **posicao**, incluindo
          o próprio; **one**, no qual se obtém somente os indicadores vinculados diretamente
          ao especificado no parâmetro **posicao**; **base**, no qual obtém somente
          o indicador especificado pelo parâmetro **posicao**. Caso omitido, assume
          o valor padrão **sub**


          Citando como exemplo o cenário no parâmetro posição, caso se desejasse apenas
          o indicador **1.1**, você especificaria o valor do parâmetro scope como
          **base**. Se desejar apenas os indicadores vinculados diretamente ao indicador
          **1.1** - 1.1.1, 1.1.2, 1.1.3 e 1.1.4 -, você configuraria o valor do scope
          como **one**. Por fim, caso desejasse o indicador **1.1** e qualquer outro
          indicador vinculado direta ou indiretamente a ele, você usaria o valor **sub**,
          que é o valor padrão caso não seja especificado

          '
        required: false
        type: string
        x-codegen-hasMoreRequired: true
        x-codegen-hasMoreOptional: true
      - name: groupBy
        in: query
        description: 'Por padrão, os resultados são agrupados pelo identificador da
          indicador. Caso deseje que sejam agrupados pelo identificador da localidade,
          configure o parâmetro groupBy com o valor **localidade**

          '
        required: false
        type: string
      responses:
        '200':
          description: Array dos resultados agrupados pelo indicador ou localidade
            - Ver parâmetro groupBy
          schema:
            type: array
            items:
              $ref: '#/definitions/Resultado'
definitions:
  Indicador:
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: Identificador do indicador
      posicao:
        type: string
        description: Posição do indicador
      classe:
        type: string
        description: Classe à qual pertence o indicador. Pode ser T, indicando um
          tema estatístico, que diz respeito à produção de informações estatísticas
          com características comuns em relação a variáveis, conceitos e metodologias;
          I, indicando um indicador - Todo indicador possui um resultado associado
          -, ou ainda null, indicando que serve apenas para fins de organização da
          pesquisa
      children:
        type: array
        description: Array de indicadores vinculados
        items:
          type: object
          properties: {}
      nota:
        type: array
        description: Array de notas agrupadas por período
        items:
          type: object
          properties: {}
      indicador:
        type: string
        description: Nome do indicador
      unidade:
        $ref: '#/definitions/Unidade'
      metadado:
        $ref: '#/definitions/Metadado'
      res:
        type: array
        description: Array dos resultados - Informado apenas quando for especificado
          uma localidade
        items:
          $ref: '#/definitions/Resultado'
  Metadado:
    type: object
    properties:
      descricao:
        type: string
      calculo:
        type: string
  Periodo:
    type: object
    properties:
      periodo:
        type: string
        description: Período ao qual se refere
      publicacao:
        type: string
        description: Data na qual será publicado o período pesquisado - Possui o formato
          dd/MM/yyyy HH:mm:ss
      versao:
        type: number
        description: Versão dos indicadores vinculados ao período pesquisado. Períodos
          pesquisados com diferentes versões NÃO compartilham os mesmos indicadores
      fonte:
        type: array
        items:
          type: string
          description: Descrição da fonte
      nota:
        type: array
        items:
          type: string
          description: Nota associada ao período
  Pesquisa:
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: Identificador da pesquisa
      descricao:
        type: string
        description: Descrição da pesquisa
      contexto:
        type: string
        format: binary
        description: Contexto que a pesquisa abrange, no qual o bit menos significativo
          sinaliza a abrangência da pesquisa a nível de subregião municipal - Setor
          censitário, distrito etc. O segundo, terceiro, quarto, quinto e sexto bits
          menos significativo sinalizam, respectivamente, a abrangência da pesquisa
          a nível de Município, Unidade da Federação - Subregião (Microrregião, região
          metropolitana etc), Unidade da Federação, Macrorregião (N, NE, SE, S, CO)
          e País. Por exemplo, uma pesquisa com contexto 101010 informa que ela cobre
          um país (6º dígito menos significativo), as Unidades da Federação (4º dígito
          menos significativo) e os municípios (2º menos significativo)
      observacao:
        type: string
        description: Observação sobre a pesquisa
      periodos:
        type: array
        items:
          $ref: '#/definitions/Periodo'
  Ranking:
    type: object
    properties:
      id:
        type: number
        description: Identificador do indicador
      periodo:
        type: string
        description: Período
      contexto:
        type: string
        description: Contexto do qual foram obtidos as localidades
      unidade:
        $ref: '#/definitions/Unidade'
      res:
        type: array
        items:
          $ref: '#/definitions/Ranking_res'
  Ranking_res:
    properties:
      '#':
        type: number
        description: Posição geral da localidade
      ranking:
        type: number
        description: Posição da localidade, considerando posições empatadas
      localidade:
        type: string
        description: Identificador da localidade
      res:
        type: number
        description: Resultado referente à localidade
  Resultado:
    type: object
    properties:
      localidade:
        type: string
        description: Identificador da localidade
      res:
        type: object
        description: 'Objeto no qual cada propriedade refere-se a um período e o valor
          daquela ao resultado

          '
        properties: {}
      notas:
        type: object
        description: 'Objeto no qual cada propriedade refere-se a um período e o valor
          daquela à nota para a localidade, se houver

          '
        properties: {}
  Unidade:
    type: object
    properties:
      id:
        type: string
        description: Nome da unidade
      classe:
        type: string
        description: 'Classe à qual pertence a unidade. Pode ser $, identificando
          uma unidade monetária; P, identificando uma unidade proporcional; N, identificando
          uma unidade numérica, ou G, identificando uma unidade genérica

          '
      multiplicador:
        type: number
        description: 'Unidade multiplicadora. Pode ser útil ao comparar indicadores
          que possuem o mesmo identificador da unidade, mas com diferentes multiplicadores.
          Usada apenas quando a classe da unidade for $, N ou P

          '
      proporcao:
        type: number
        description: 'Proporção. Usada apenas quando a classe da unidade for P

          '
      sufixo:
        type: string
        description: 'Sufixo a ser adicionado à unidade, se houver. Usada apenas quando
          a classe da unidade for P. Por exemplo, considerando que um indicador de
          uma dada localidade possua como unidade "50 nascimentos por 100.000 habitantes",
          o id da unidade será nascimentos, a proporção 100000 e o sufixo habitantes

          '

